@{
    ViewData["Title"] = "Crear Paquete";
}
<form method="Post" action='@Url.Action("GuardarPaquete", "Home")'>
    <p>@ViewBag.errorMsg</p>
    <div>
        <p>Elija su destino:</p>
        @foreach(string destino in ViewBag.ListaDestinos)
        {<p>@destino</p>}
        <input type="number" max = "10" min = "1">
    </div>
    <p>Elija su hotel:</p>
    @for(int i = 0; i < 10; i++){
        <img src="/imgs/Hoteles/@ViewBag.ListaHoteles[@i]">
    }
    <input type="number" max = "10" min = "1">
    <p>Aerolinea:</p>
    @for(int i = 0; i < 10; i++){
        <img src="/imgs/Aerolineas/@ViewBag.ListaAereos[@i]">
    }
    <input type="number" max = "10" min = "1">
    <p>El paquete incluye la siguiente excursion:</p>
    @for(int i = 0; i < 10; i++){
        <img src="/imgs/Excursiones/@ViewBag.ListaExcursiones[@i]">
    }
    <input type="number" max = "10" min = "1">
    <input type="submit" value="Enviar">
    <p>¡Muchas gracias!</p>
</form>